#content-header {
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;



    
}

#content-nav {
    align-items: center;
    margin: 2px;
    padding: 2px;
    background-color: rgb(241, 232, 224);
}

body {
    background-color: rgb(238, 231, 221);
}